.articulos-adultos{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(1,1fr);}

    .nonisec-anatomicos{
        grid-column: 1/4;
        grid-row: 1;
    }
    
    .comodin-anatomicos{
        grid-column: 2/4;
        grid-row: 1;
    }
    
    .plenitud-classic-anatomicos{
        grid-column: 3/4;
        grid-row: 1;
    }
    
    .nonino-anatomicos{
        grid-column: 4/4;
        grid-row: 1;
    }
    


