#main__bebe{
    width: 100%;
    height: 700%;
    background-image: url("../assets/img/fondopañales.jpeg");
    background-repeat: repeat-x,repeat-y;
}

.articulos-bebe{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(1,1fr);}

    .huggies-classic{
        grid-column: 1/4;
        grid-row: 1;
    }
    
    .huggies-protect{
        grid-column: 2/4;
        grid-row: 1;
    }
    
    .huggies-flex{
        grid-column: 3/4;
        grid-row: 1;
    }
    
    .huggies-supreme{
        grid-column: 4/4;
        grid-row: 1;
    }


