#main__mama{
    width: 100%;
    height: 700%;
    background-image: url(../assets/img/fondo-mama.jpg);
    background-repeat: repeat-x, repeat-y;
}

.articulos-mama{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,1fr);}

    .doncella-post-parto{
        grid-column: 1/3;
        grid-row: 1;
    }
    
    .comodin-post-parto{
        grid-column: 2/3;
        grid-row: 1;
    }
    
    .huggies-post-parto{
        grid-column: 3/3;
        grid-row: 1;
    }

    .doncella-protectores-mamarios{
        grid-column: 1/3;
        grid-row: 1;
    }

    .dispita-protectores-mamarios{
        grid-column: 2/3;
        grid-row: 1;
    }


