#main__mama{
    width: 100%;
    height: 700%;
    background-image: url(../assets/img/fondo-mama.jpg);
    background-repeat: repeat-x, repeat-y;
}

.articulos-mama{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(1,1fr);

    .doncella-post-parto{
        grid-column: 1/4;
        grid-row: 1;
    }
    
    .comodin-post-parto{
        grid-column: 2/4;
        grid-row: 1;
    }
    
    .huggies-post-parto{
        grid-column: 3/4;
        grid-row: 1;
    }
}

@media screen and (max-width: 992px) {
    .articulos-mama{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
    }

    .doncella-post-parto{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .comodin-post-parto{
        grid-column: 2/2;
        grid-row: 1/2;
    }
    .huggies-post-parto{
        grid-column: 1/2;
        grid-row: 2/2;
    }
}

@media screen and (max-width: 576px){

    .articulos-mama{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(3,1fr);
    }

    .doncella-post-parto{
        grid-column: 1/1;
        grid-row: 1/3;
    }
    .comodin-post-parto{
        grid-column: 1/1;
        grid-row: 2/3;
    }
    .huggies-post-parto{
        grid-column: 1/1;
        grid-row: 3/3;
    }
}